/* цвет основного текста #757575 */
/* цвет текста заголовков #212121 */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* цвет фона футера #2F303A; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --secondary-bcg-color: #2f303a;
  --staff-section-bcg-color: #e5e5e5;
  --filter-bcg-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --primary-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/* ! =====================================HEADER===================================== */
/** logo */
.logo-primary {
  color: var(--logo-color);
}

.logo-accent {
  color: var(--accent-color);
}

.logo-secondary {
  color: var(--primary-white-color);
}

.logo-primary,
.logo-secondary {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/** Site navigation */
.site-nav .link,
.contact-nav .link {
  font-weight: 500;
  font-size: inherit;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--title-text-color);
  line-height: 1.33;
}

.contact-nav .link {
  color: var(--primary-text-color);
  line-height: 1.14;
}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* ! ===================================END OF HEADER=================================== */

/* ! =====================================FOOTER===================================== */
/** Footer */
/*? УКАЗАЛ БЕКГРАУНД ДЛЯ ВИДА */
.footer {
  background-color: var(--secondary-bcg-color);
}

.footer-contact .link {
  color: var(--footer-contact-color);
}

.footer .location {
  color: var(--primary-white-color);
}

.footer-contact .location:hover,
.footer-contact .link:hover,
.footer-contact .location:focus,
.footer-contact .link:focus {
  color: var(--accent-color);
}
/* ! ===================================END OF FOOTER=================================== */

/* ! ===================================INDEX.HTML=================================== */
/** Hero */
/*? УКАЗАЛ БЕКГРАУНД ДЛЯ ВИДА */
.hero {
  background-color: var(--secondary-bcg-color);
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/** Button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/** Section */
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/** Features */
.feature-title {
  color: var(--title-text-color);
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

/** Team */
.staff {
  background-color: var(--staff-section-bcg-color);
}

.team-member {
  background-color: var(--primary-white-color);
}

.member-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.member-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* ! ===================================THE END OF INDEX.HTML=================================== */

/* ! =====================================PORTFOLIO.HTML=====================================*/
.filter-category {
  color: var(--title-text-color);
  background-color: var(--filter-bcg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.filter-category:hover,
.filter-category:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.project-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-caption {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* ! ================================THE END OF PORTFOLIO.HTML================================ */
